<section class="mb-section">
    <h1 class="text-zinc-800 mb-16 text-[4rem] font-extrabold uppercase text-center leading-[4rem] md:text-[8rem] md:leading-[7rem] md:text-start">
        未来を創造する
    </h1>
    <figure>
        <div class="relative mb-4">
            <img class="w-full object-cover rounded-br-[3rem] md:h-[30rem] md:rounded-br-[10rem]" src="images/corporate/office.jpg"/>
            <img class="border-slate-100 absolute w-[5rem] right-[20%] bottom-0 translate-y-1/2 z-20 border-[8px] rounded-full md:w-[8rem]" src="images/corporate/logo.png"/>
        </div>
        <figcaption class="text-zinc-800 uppercase font-medium text-xs md:text-base">© CASIJBL SYIBULY est 1990</figcaption>
    </figure>
 </section>