---
import CheapButton from "../utils/CheapButton.astro";
import PortfolioCard from "../utils/PortfolioCard.astro";
---

<section id="portfolio" class="mb-section">
  <h2 class="text-title mb-4">製品紹介</h2>
  <div class="grid gap-8 mb-8 md:grid-cols-2">
    <p class="text-sm opacity-50">
      業界をリードする製品とソリューションで、お客様のビジネスに価値を提供します
    </p>
    <aside class="flex flex-wrap gap-4 text-sm md:justify-items-end">
      <CheapButton> 製造業 </CheapButton>
      <CheapButton> 医療 </CheapButton>
      <CheapButton> 金融 </CheapButton>
    </aside>
  </div>
  <div
    class="h-[40rem] grid gap-4 md:h-[30rem] md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-2 [&>*]:overflow-hidden"
  >
    <div class="w-full h-full lg:col-span-2">
      <PortfolioCard
        src="/public/images/products/product_01.jpg"
        alt="製品A"
        title="次世代AI分析システム"
      />
    </div>
    <div class="w-full h-full lg:row-span-2">
      <PortfolioCard
        src="/public/images/products/product_02.jpg"
        alt="製品B"
        title="IoTプラットフォーム"
      />
    </div>
    <div class="w-full h-full lg:row-span-2">
      <PortfolioCard
        src="/public/images/products/product_03.jpg"
        alt="製品C"
        title="クラウドサービス"
      />
    </div>
    <div class="w-full h-full lg:col-span-2">
      <PortfolioCard
        src="/public/images/products/product_04.jpg"
        alt="製品D"
        title="セキュリティソリューション"
      />
    </div>
  </div>
</section>
