---
import "../global/styles/defaults.css";
import "../global/styles/custom.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CASIJBL SYIBULY</title>
  </head>
  <body class="text-zinc-800 bg-slate-300">
    <slot />
  </body>
</html>
